<!-- Footer -->
<footer class="p-0 page-footer bg-info font-small blue mt-auto">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-dark text-light">© TvShows</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->