<% layout("layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-lg-4 offset-lg-4">
<form action="/login" method="POST" novalidate class="validated-form">
    <div class="form-row">
    <h1 class="text-light">Login</h1>
    </div>
    <div class="form-row">
    <label for="username" class="form-label text-light">Username</label>
    <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="form-row">
    <label for="password" class="form-label text-light">Password</label>
    <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <div class="form-row mt-1">
    <button class="btn btn-success">Login</button>
    </div>
</form>
<br>
<span class="text-light">Don't have an account? <a href="/register">Sign Up for Free</a>
</span>
</div>
</div>